# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Datasets & Training Data
dataset/
CarDD_raw/
CarDD_release.zip
*.jpg
*.png

# Training Results & Logs
runs/
results/
*.pt
!scanner_app/models/best.pt

# Scanner App Uploads
scanner_app/static/uploads/*
!scanner_app/static/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
